.main{
    
    width: 1200px;
    height: 500px;
}

body{
    background-color: darkviolet;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    
}
.lnr-arrow-up:before {
	content: "\e877";
}
.lnr-arrow-down:before {
	content: "\e878";
}
.lnr-arrow-left:before {
	content: "\e879";
}
.lnr-arrow-right:before {
	content: "\e87a";
}
.capsule{
    width         : 200px;
    height        : 50px;
    border-radius : 25px;
    background-color: plum;
}
.capsule:hover
{
    background-color: aqua;
}
.header-area{
    background-image: url("D:/HTML-CSS UI/img/header-bg.jpg"); 
    height: 600px;
    backface-visibility: hidden;
}

.container{
    height: 390px;
    opacity: 1.0;
}
.banner .one {   
    text-align: center;    
}
.one a{
     text-decoration: none;
    color: white;
}
.best{
    text-transform: uppercase;
    font-family: "Courier New" monospace;
    color: white;
    font-size: 20px;
    text-align: center;
}
.pe{
    font-size: 7vw;
    color: white;
    text-align: center;
}

.col-md-6{
    height: 100%;
    width: 100%;
}
.slider-holder
        {
            width: 400px;
            height: 300px;
/*            background-image: url("../img/slider.jpg");*/
            margin-left: 120px;
            margin-right: 0px;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
        
        .image-holder
        {
            width: 800px;
            background-image: url("../img/slider.jpg");
            height: 400px;
            clear: both;
            position: relative; 
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
        
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: absolute;
        }
        
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
        
        #slider-image-2:target ~ .image-holder
        {
            left: -800px;
        }
        
        #slider-image-3:target ~ .image-holder
        {
            left: -1600px;
        }
        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container.fullwidth {
  width: 100%;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

.section-bg {
  background: #f9fafc;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.logo{
    float:left;
}
.main-menubar{
    float:right;
    color: white;
    text-decoration: none;
}
.main-menubar .hide a{
    color: white;
    text-decoration: none;
    margin-right: 20px
}

@media screen and (max-width:500px) {
  .logo, .main-menubar {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
section{
    background-color: white;
    width: 1200px;
    height: auto;
    overflow: auto;
}
.feature-left{
    border: 1px solid white;
    float: left;
    width: 480px;
    margin-right: 700px;
    margin-left: 5px;
    margin-top: 200px;
    padding-top: 150px;
}


.feature-right{
    border: 1px solid white;
    float: right;
    width: 480px;
    margin-left: 700px;
    margin-right: 5px;
    padding-bottom: 20px;
}
.col-divide{
    border: 1px solid white;
    float: right;
}
@media screen and (max-width:500px) {
  .feature-left, .col-divide {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.service-area .single-service .overlay-content h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.service-area .single-service:hover .overlay-content {
  transform: scaleY(1);
}
.service-area .single-service .overlay-content {
  opacity: .8;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: end;
  -moz-justify-content: end;
  justify-content: end;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  transition-timing-function: cubic-bezier(0.39, 0.92, 0.69, 0.65);
  transform: scaleY(0);
  transform-origin: top;
}
.parallux-area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.parallux-area .overlay-bg {
  background: #222;
  opacity: .3;
}

.parallux-area h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 100;
}

.parallux-area h2 span {
  font-weight: 600;
}

.parallux-area p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 25px;
}

.service-area {
  padding: 90px 0 120px 0;
  background: #fff;
}

.service-area .single-service {
  height: 450px;
  color: purple;
  width: 400px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 30px;     
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}
.featured-area {
  background-color: #fff;
}

.featured-area h2 {
  font-size: 36px;
  font-weight: 100;
}

.featured-area h2 span {
  font-weight: 600;
}

.featured-area p {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .feature-right {
    margin-top: 50px;
  }
}

.contact-area {
  background: url(../img/contact-bg.jpg) no-repeat center center/cover;
  color: #fff;
    
}

.contact-area h2 {
  font-size: 36px;
  font-weight: 100;
}

.contact-area h2 span {
  font-weight: 600;
}

.contact-area p {
  font-size: 14px;
  font-weight: 300;
}

.contact-form ::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.contact-form :-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 300;
}

.contact-form ::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 300;
}

.contact-form :-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.contact-form ::-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.contact-form .alert-msg {
  color: #fff !important;
  margin-top: 50px;
  z-index: 1;
}

.contact-form .primary-btn:hover {
  background: transparent;
}

.contact-form .primary-btn:hover span {
  color: #fff !important;
}

.common-input {
  border: 1px solid #8373ca;
  line-height: 48px;
  width: 100%;
  display: block;
  background: transparent;
  padding: 0 25px;
  color: #fff;
}

.common-textarea {
  border: 1px solid #8373ca;
  width: 100%;
  display: block;
  background: transparent;
  padding: 15px 25px;
  color: #fff;
  height: 150px;
  resize: none;
}

.text-white {
  color: #fff;
}

.footer-area {
  background: #000000;
  padding: 80px 0;
  margin-bottom: 6rem;
  width: 114.5%;
    margin-top: 4rem;
    height: 150px;
}


.footer-area .footer-content {
  position: static;
  z-index: 2;
padding-left: 40%;
}

.footer-area .footer-menu a {
  display: inline-block;
  margin: 0 20px;
  color: white;
}

.footer-area .footer-menu a:hover {
  color: violet;
}


.footer-area .footer-social {
  margin: 30px 0;
}

.footer-area .footer-social a {
  display: inline-block;
  margin: 0 5px;
  padding: 2px;
}

.footer-area .footer-social a i {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-area .footer-social a:hover i {
  color: violet;
}

.footer-area .copy-right-text {
  text-align: center;
  color: #fff;
padding: 1;
    padding-top: 10%;
    padding-right: 20%;
    padding-left: 1%;
}

.footer-area .copy-right-text a, .footer-area .copy-right-text i {
  color: #bc5ede;
}

.about-generic-area {
  background: #fff;
}

.about-generic-area .border-top-generic {
  padding: 120px 15px;
}

.about-generic-area p {
  margin-bottom: 20px;
}

.white-bg {
  background: #fff;
}

.section-top-border {
  padding: 70px 0;
}

.switch-wrap {
  margin-bottom: 10px;
}

.switch-wrap p {
  margin: 0;
}

        
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
        
        #slider-image-2:target ~ .image-holder
        {
            left: -800px;
        }
        
        #slider-image-3:target ~ .image-holder
        {
            left: -1600px;
        }
        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }